body{
  background-color:rgb(243, 242, 242);
}
nav{
  background-color:rgb(243, 242, 242);
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  padding-top: 1%;
  padding-bottom: 4%;
  
  
}
.titlecenter {
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
}
.tabletitle{
  text-align: center;
  font-weight: 200;
  font-size: medium;
}
.rlists{
  padding-top: 2%;
  margin-top: 7%;
}
.rlists  a{
  padding-top: 0%;
  margin-top: 0;
  padding: 5%;
}